@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html,
body {
  margin: 0;
  padding: 0
}

html {
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6
}

@media (min-width: 38em) {
  html {
    font-size: 20px
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

a {
  color: #ff6600;
  text-decoration: none
}

a:hover,
a:focus {
  color: #ff6600;
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.6rem
}

h3 {
  font-size: 1.3rem
}

h4,
h5,
h6 {
  font-size: 1rem
}

p {
  margin: 0 0 1rem
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem
}

dt {
  font-weight: bold
}

dd {
  margin-bottom: .5rem
}

ul {
  list-style: inside circle;
  padding-left: 0
}

ul li {
  margin-bottom: .25rem
}

ul ul,
ul ol {
  margin-top: .25rem;
  margin-bottom: .5rem
}

ol {
  list-style: inside decimal;
  padding-left: 0
}

ol li {
  margin-bottom: .25rem
}

ol ul,
ol ol {
  margin-top: .25rem;
  margin-bottom: .5rem
}

p+h1,
p+h2,
p+h3,
ul+h1,
ul+h2,
ul+h3,
ol+h1,
ol+h2,
ol+h3 {
  margin-top: 1.5rem
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto
}

strong {
  color: #333;
  font-weight: 600
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: .5rem solid #e5e5e5
}

blockquote p:last-child {
  margin-bottom: 0
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  background: none
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px
}

.highlight pre {
  margin-bottom: 0
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important
}

.gist .markdown-body {
  padding: 15px
}

.gist pre {
  padding: 0;
  background-color: transparent
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9
}

.lead {
  font-size: 1.25rem
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto
}

@media (min-width: 38rem) {
  .container {
    padding: 5rem 1rem
  }
}

.masthead {
  border-bottom: 2px dashed #ff6600
}

.masthead-title {
  font-weight: 300
}

.masthead-title a {
  color: #333
}

.masthead-title a:hover,
.masthead-title a:focus {
  text-decoration: none
}

.masthead-title span {
  color: #ddd
}

.masthead-title--small {
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase
}

.masthead-title--small a {
  color: #333
}

.masthead-title--small a:hover,
.masthead-title--small a:focus {
  text-decoration: none
}

.masthead .masthead-nav {
  margin-bottom: 0.5rem;
  text-align: center
}

.masthead .masthead-nav a {
  color: #ff6600;
  font-weight: 300;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease
}

.masthead .masthead-nav a:hover,
.masthead .masthead-nav a:focus {
  color: #ff6600;
  text-decoration: none
}

.masthead .masthead-nav a+a {
  margin-left: .25rem
}

.page-title {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Acme"
}

.page-title-stop {
  color: #ff6600;
  display: inline
}

.post-title {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Acme";
}

.post-stop {
  color: #ff6600;
  display: inline;
}

.post-date {
  margin-bottom: 2rem;
  font-size: .75rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Acme";
}

.list-post-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "Acme";
}

.list-post-title a {
  color: #333
}

.list-post-title a:hover,
.list-post-title a:focus {
  text-decoration: none
}

.list-post-date {
  margin-bottom: 2rem;
  font-size: .75rem;
  text-transform: uppercase;
  font-family: "Acme";
}

.projects-list a {
  color: #333
}

.masthead-center {
  margin-top: 20px
}

@media (min-width: 38em) {
  .masthead-center {
    margin-top: 30px
  }
}

.masthead-center img {
  margin-left: auto;
  margin-right: auto;
  width: 30%
}

@media (min-width: 38em) {
  .masthead-center img {
    width: 20%
  }
}

.fsmk {
  text-transform: uppercase;
  font-family: "Acme";
  letter-spacing: 1.5px;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  display: none
}

.button {
  border: 2px dashed #ff6600;
  margin-top: 10px;
  padding: 5px 10px;
  display: inline-block;
  font-family: "Source Code Pro";
  background: #fff;
  font-size: 1em;
}

.button a {
  color: #ff6600;
  text-decoration: none
}

.button a:hover,
.button a:focus {
  color: #ff6600;
  text-decoration: none
}

.volunteers {
  text-align: center
}

::-moz-selection {
  color: #fff;
  background: #f60
}

::selection {
  color: #fff;
  background: #f60
}

.question {
  font-size: 28px;
  font-weight: bold
}

.answer {
  border-left: #ff6600 solid;
  padding-left: 10px;
  margin-top: 5px
}

.bot {
  padding-top: 20px;
  padding-bottom: 20px
}

.bot .message {
  white-space: pre-wrap;
}

.full-view {
  height: 75vh
}

@media screen and (min-width: 38em) {
  .full-view {
    height: 50vh
  }
}

.cow {
  white-space: nowrap;
  overflow: auto
}

.cow pre {
  font-size: 5vw
}

@media screen and (min-width: 38em) {
  .cow pre {
    font-size: 2vw;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
  }
}

.message {
  border-top: 2px #000 dashed;
  border-bottom: 2px #000 dashed;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ff6600;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto

}

@media screen and (min-width: 38em) {
  .message {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
  }
}

.textIn {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto
}

@media screen and (min-width: 38em) {
  .textIn {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
  }
}

.textInput {
  width: 100%;
  height: 40px;
  border: 2px #ff6600 dashed;
  border-width: 2px 0 2px 0;
  font-size: 4vw;
  font-family: "Source Code Pro";
  padding-left: 25px;
  padding-right: 25px
}

@media screen and (min-width: 38em) {
  .textInput {
    font-size: 1.5vw
  }
}

.buttons {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px
}

@media screen and (min-width: 38em) {
  .buttons {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
  }
}

.shortcuts {
  background: #ff6600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.shortcuts:hover,
.shortcuts:focus {
  color: #fff
}

.list-item {
  text-align: center;
}

.list-item-updates {
  margin-bottom: 2em;
  padding-top: 2em;
}

 .list-item-updates:first-of-type {
   border: 2px #ff6600 dashed;
 }

.foot {
  border-top: 2px #ff6600 dashed;
  text-transform: uppercase;
  font-family: "Acme";
  letter-spacing: 1.5px;
  font-size: 15px;
  text-align: center;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  border: 4px #ff6600 dashed;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 38em) {
  .contact-box {
    width: 40%;
  }
}

.contact-box img {
  border-radius: 0;
  height: auto;
  width: 100%;
}

.row {
  max-width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

.input-field {
  margin-bottom: 40px;
}

.input {
  width: 100%;
  display: block;
  font-family: "Source Code Pro";
  font-size: 1em;
  border: none;
  border-bottom: 2px #ff6600 dashed;
}

@media screen and (min-width: 38em) {
  .input {
    width: 50%;
  }
}

.full-width {
  width: 100%;
}
.textIn.macha {
  max-width: 100% !important;

}
.options {
  text-align: center;
  padding-bottom: 20px;
}
.cow pre {
  border-bottom: 2px dashed #ff6600;
  padding-bottom: 0;
}

.options span {
  margin-right: 10px;
  background: #ff6600;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  border-top: 2px #ff6600 dashed;
}

.highlight .hll {
  background-color: #ffc
}

.highlight .c {
  color: #999988;
  font-style: italic
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlight .k {
  color: #000000;
  font-weight: bold
}

.highlight .o {
  color: #000000;
  font-weight: bold
}

.highlight .cm {
  color: #999988;
  font-style: italic
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

.highlight .c1 {
  color: #999988;
  font-style: italic
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

.highlight .gd {
  color: #000000;
  background-color: #fdd
}

.highlight .ge {
  color: #000000;
  font-style: italic
}

.highlight .gr {
  color: #a00
}

.highlight .gh {
  color: #999
}

.highlight .gi {
  color: #000000;
  background-color: #dfd
}

.highlight .go {
  color: #888
}

.highlight .gp {
  color: #555
}

.highlight .gs {
  font-weight: bold
}

.highlight .gu {
  color: #aaa
}

.highlight .gt {
  color: #a00
}

.highlight .kc {
  color: #000000;
  font-weight: bold
}

.highlight .kd {
  color: #000000;
  font-weight: bold
}

.highlight .kn {
  color: #000000;
  font-weight: bold
}

.highlight .kp {
  color: #000000;
  font-weight: bold
}

.highlight .kr {
  color: #000000;
  font-weight: bold
}

.highlight .kt {
  color: #445588;
  font-weight: bold
}

.highlight .m {
  color: #099
}

.highlight .s {
  color: #d01040
}

.highlight .na {
  color: teal
}

.highlight .nb {
  color: #0086B3
}

.highlight .nc {
  color: #445588;
  font-weight: bold
}

.highlight .no {
  color: teal
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold
}

.highlight .ni {
  color: purple
}

.highlight .ne {
  color: #990000;
  font-weight: bold
}

.highlight .nf {
  color: #990000;
  font-weight: bold
}

.highlight .nl {
  color: #990000;
  font-weight: bold
}

.highlight .nn {
  color: #555
}

.highlight .nt {
  color: navy
}

.highlight .nv {
  color: teal
}

.highlight .ow {
  color: #000000;
  font-weight: bold
}

.highlight .w {
  color: #bbb
}

.highlight .mf {
  color: #099
}

.highlight .mh {
  color: #099
}

.highlight .mi {
  color: #099
}

.highlight .mo {
  color: #099
}

.highlight .sb {
  color: #d01040
}

.highlight .sc {
  color: #d01040
}

.highlight .sd {
  color: #d01040
}

.highlight .s2 {
  color: #d01040
}

.highlight .se {
  color: #d01040
}

.highlight .sh {
  color: #d01040
}

.highlight .si {
  color: #d01040
}

.highlight .sx {
  color: #d01040
}

.highlight .sr {
  color: #009926
}

.highlight .s1 {
  color: #d01040
}

.highlight .ss {
  color: #990073
}

.highlight .bp {
  color: #999
}

.highlight .vc {
  color: teal
}

.highlight .vg {
  color: teal
}

.highlight .vi {
  color: teal
}

.highlight .il {
  color: #099
}
